* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}
@media (max-width: 900px) {
    html {
        font-size: 9px;
    }
  }
@media (max-width: 800px) {
    html {
        font-size: 8px;
    }
}
@media (max-width: 700px) {
    html {
        font-size: 7px;
    }
}
@media (max-width: 500px){
    html {
        font-size: 6px;
    }
    .wrapper {
        justify-content: center;
    }
}
@media (max-width: 400px){
    html {
        font-size: 5px;
    }
    .wrapper {
        justify-content: center;
    }
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
    background-size: cover;
    color: white;
}

.bio {
    display: flex;
    position: absolute;
    top: 5rem;
    right: 5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .githublink {
        text-decoration: none;
        color: #fff;
        .bioimage {
            width: 6rem;
            border-radius: 50%;
            margin: 0.2rem;
        }
    
        .name {
            font-size: 1rem;
            margin: 0.2rem;
        }
        .job {
            font-size: 0.7rem;
        }
    }
}

.today {
    width: 54rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(#fff, 0.1);
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0.3rem 0.3rem 1rem 0 rgba(#000000, 0.1), -0.3rem -0.3rem 1rem 0 rgba(#000000,0.1), inset -0.3rem -0.3rem 1rem 0 rgba(#fff,0.1), inset 0.3rem 0.3rem 1rem 0 rgba(#fff,0.1);

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0.7rem);
        border-radius: inherit;
        position: absolute;
    }

    .section-1, .section-2, .section-3 {
        display: flex;
        padding: 0 4rem;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 2;

    }
    .section-1 {
        height: 30%;
        justify-content: space-between;
        .date {
            display: flex;
            justify-content: center;
            max-width: 30%;
            width: 30%;
            flex-direction: column;
            .dayofweek {
                font-size: 1.8rem;
            }
            .dayofmonth {
                font-size: 1.2rem;
            }
        }
        .clock {
            font-size: 4rem;
            width: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            max-width: 30%;
            width: 30%;

            .colon {
                font-size: 3rem;
                animation: fade 1s infinite;
            }
            @keyframes fade {
                to {
                    opacity: 0;
                }
            }
            .pmam {
                align-self: flex-start;
                font-size: 2rem;
            }
        }
        .location {
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            max-width: 30%;
            width: 30%;
            .country {
                align-self: flex-end;
                font-size: 1.8rem;
            }
            .city {
                font-size: 1.2rem;
            }
        }
    }
    .section-2 {
        height: 40%;
        justify-content: center;
        .todayImg {
            width: 10rem;
            animation: appear 7s linear;
        }

        .hourly {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            animation: appear 7s linear;

            .hours {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                font-size: 1.5rem;

                &:nth-child(n) {
                    border-right: 0.1rem solid rgba(#fff, 0.3);
                }
                &:nth-child(6) {
                    border-right: none !important;
                }
            }
            .hourImg {
                width: 5rem;
            }
        }
        
        @keyframes appear {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
        }
    }
    .section-3 {
        height: 30%;
        flex-direction: row;
        justify-content: space-between;
        .wind {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 30%;
            
            .windSpeed {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .speedValue {
                    font-size: 2rem;
                    margin-right: 0.2rem;
                }
                .speedUnit {
                    font-size: 1.5rem;
                    margin-left: 0.2rem;
                    align-self: center;
                }
            }
            .windDir {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                font-size: 1.5rem;

                .direction {
                    font-size: 2rem;
                    margin-right: 0.2rem;
                }
                i {
                    font-size: 2rem;
                    margin-left: 0.2rem;
                }
            }
        }
        .rain-humidity {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 30%;
            .rain, .humidity {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                i {
                    font-size: 2.5rem;
                }
                .rainPerc, .humidityPerc {
                    font-size: 1.5rem;
                }
            }
            .rain {
                padding-right: 0.3rem;
                border-right: 0.1rem solid #fff;
            }
            .humidity {
                margin-left: 0.3rem;
            }
        }
        .currentDeg {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.2rem;

        }
        .visibility {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }
}
.other_days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dayBoxes {
    width: 10rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    position: relative;
    border-radius: 1rem;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0.5rem);
        border-radius: inherit;
        position: absolute;
        background-color: rgba(#fff,0.1);
        box-shadow: 0.2rem 0.2rem 3rem 0 rgba( #000000,0.1), -0.2rem -0.2rem 3rem 0 rgba(#000000, 0.1), inset -0.2rem -0.2rem 3rem 0 rgba( #fff,0.1), inset 0.2rem 0.2rem 3rem 0 rgba( #fff,0.1);
    }
    & > * {
        z-index: 2;
    }

    h3 {
        padding-top: 1rem;
        font-size: 1.5rem;

    }
    img {
        width: 5rem;
    }
    h3 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
}

.firstScreen {
    width: 30rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly !important;
    font-size: 1.6rem;
    .loadingIcon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: relative;
        border: 0.5rem solid rgba(#fff,0.5);
        border-top-color: #fff;
        border-radius: 50%;
        animation: loader 1s infinite ease-in-out;

        @keyframes loader {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
    }
}

.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40rem !important;
    height: 15rem !important;
    font-size: 1.6rem;
}

